
  <!--begin::Heading-->
  <div class="text-center mb-10">
    <h1 class="text-dark mb-3">Change Password</h1>
    <button (click)="toDashboard()">Dashboard</button>
  </div>
  <form
  class="form w-100"
  [formGroup]="changePasswordFG"
  novalidate="novalidate"
  id="kt_login_signin_form"
  (ngSubmit)="submit()"
>
<!-- <button (click)="test()">TEST</button> -->
  <!-- begin::Alert error-->
  <ng-container *ngIf="hasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        {{errorMessage}}
        <!-- The login details are incorrect -->
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <!--begin::Form group-->
  <div class="fv-row mb-10">
    <label class="form-label fs-6 fw-bolder text-dark">Current Password</label>
    <input
      class="form-control form-control-lg form-control-solid"
      autocomplete="off"
      type="password"
      name="currentPassword"
      formControlName="currentPassword"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': changePasswordFG.controls['currentPassword'].invalid,
        'is-valid': changePasswordFG.controls['currentPassword'].valid
      }"
    />
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-10">
    <label class="form-label fs-6 fw-bolder text-dark">New Password</label>
    <input
      class="form-control form-control-lg form-control-solid"
      autocomplete="off"
      type="text"
      name="newPassword"
      formControlName="newPassword"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': changePasswordFG.controls['newPassword'].invalid,
        'is-valid': changePasswordFG.controls['newPassword'].valid
      }"
    />
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-10">

    <label class="form-label fs-6 fw-bolder text-dark">Confirm Password</label>
    <input
      class="form-control form-control-lg form-control-solid"
      type="password"
      name="confirmPassword"
      autocomplete="off"
      formControlName="confirmPassword"
      [ngClass]="{
        'is-invalid': changePasswordFG.controls['confirmPassword'].invalid,
        'is-valid': changePasswordFG.controls['confirmPassword'].valid
      }"
    />
  </div>
  <!--end::Form group-->

  <!--begin::Action-->
  <div class="text-center">
    <button
      type="submit"
      id="kt_sign_in_submit"
      class="btn btn-lg btn-primary w-100 mb-5"
      [disabled]="changePasswordFG.invalid"
    >
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress" [style.display]="'block'">
          Please wait...
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </ng-container>
      <ng-container *ngIf="!(isLoading$ | async)">
        <span class="indicator-label">Continue</span>
      </ng-container>
    </button>

    <!-- begin::Separator  -->
    <!-- <div class="text-center text-muted text-uppercase fw-bolder mb-5">or</div> -->
    <!-- end::Separator  -->

  </div>
  <!--end::Action-->
</form>
<!--end::Form-->

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>
