* {
  font-family: "Nikosh", sans-serif;
  font-size: large;
}
th {
  text-align: center;
  vertical-align: middle;
  background-color: #f2f2f2;
  border: solid 1px #050505;
}

.numberColumn {
  text-align: center;
  vertical-align: middle;
}

.box {
  border: 1px solid #060606 !important;
  height: 300px;
}
