
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)"
             size="default"
             type="ball-spin-clockwise">
  <p style="color: white">Please Wait .....</p>
</ngx-spinner>

<div class="card card-custom gutter-b mb-3">
  <div class="card-header">
    <div class="card-title">
      <a routerLink="/dashboard"
         class="d-flex flex-column flex-center h-100 p-6 border-end border-bottom cursor-pointer"
         style="margin-right: 10px">
        <span class="svg-icon svg-icon-3x svg-icon-primary mb-2"
              [inlineSVG]="'./assets/media/svg/icons/General/back-button-svgrepo-com.svg'"
              (cacheSVG)="(cacheSVG)"></span>
      </a>
      <h5 class="card-label">
        উপ-সহকারী প্রকৌশলীর বদলীর তালিকা
      </h5>
    </div>

    <div class="card-toolbar">
      <!-- <button class="btn btn-primary mr-2" routerLink="/audit/objection/new" >
        <i class="fas fa-plus"></i> অডিট আপত্তি লিপিবদ্ধকরণ</button> -->
    </div>

  </div>

  <div class="card-body">

    <!-- <div class="row" [formGroup]="fg">

      <div class="col-lg-2">
        <label for="directorateType">নিরীক্ষাকারী সংস্থা</label>
        <select name="directorateType" formControlName="directorateType" class="form-select ">
          <option *ngFor="let item of directorateType" value="{{ item.id  }}">
            {{ item.label  }}
          </option>
        </select>
      </div>

      <div class="col-lg-2">
        <label for="objectionType">আপত্তির ধরণ</label>
        <select name="objectionType" formControlName="objectionType" class="form-select ">
          <option *ngFor="let item of objectionTypes" value="{{ item.id  }}">
            {{ item.label  }}
          </option>
        </select>
      </div>

      <div class="col-lg-2">
        <label for="financialYear">অর্থবছর</label>
        <select name="financialYear" formControlName="financialYear" class="form-select ">
          <option value="">Select</option>
          <option *ngFor="let item of financialYears" value="{{ item.text }}">
            {{ item.text }}
          </option>
        </select>
      </div>

      <div class="col-lg-2">
        <label for="objectionStatus">আপত্তির অবস্থা</label>
        <select name="objectionStatus" formControlName="objectionStatus" class="form-select ">
          <option value="0">Select</option>
          <option *ngFor="let item of objectionStatuses" value="{{ item.id  }}">
            {{ item.name  }}
          </option>
        </select>
      </div>

    </div>

    <div class="row text-center pt-3">
      <div class="col-12">
        <a
          title="Search"
          class="btn btn-flex btn-light btn-active-primary fw-bolder cursor-pointer me-2"
          data-kt-menu-trigger="click"
          data-kt-menu-placement="bottom-end"
          data-kt-menu-flip="top-end"
          (click)="search()">
          <i class="fas fa-search"></i> Search
        </a>

        <a
          title="Reset"
          class="btn btn-flex btn-light btn-active-danger fw-bolder cursor-pointer"
          data-kt-menu-trigger="click"
          data-kt-menu-placement="bottom-end"
          data-kt-menu-flip="top-end"
          (click)="reset()">
          <i class="fas fa-redo"></i> Reset
        </a>
      </div>

    </div> -->

    <div class="row pt-4">
      <div class="table-responsive" *ngIf="orders?.length">
        <table class="table table-bordered table-str">
          <tr>
            <th class="w-5">#</th>
            <th class="w-25">বিবরণ</th>
            <th class="w-20">স্মারক নং</th>
            <th class="w-10">তারিখ</th>
            <th class="w-15">Action</th>
          </tr>
          <tr *ngFor="let item of orders; let i = index">
            <td>{{ toLocal(i + 1) }}</td>
            <td class="text-start p-2">{{ item.designation }}</td>
            <td>1234-1234-1324-1234-1234-1234-12</td>
            <!-- <td>{{ item.memoNo }}</td> -->
            <td>{{ convertDateToBengali(item.executeDate) }}</td>
            <!-- <td class="text-start p-2">
              <a href={{getViewRouting(item.id)}}>{{ item.name }}</a>
            </td>
            <td>{{ enumToText('directorate', item.directorateType) }}</td>
            <td>{{ enumToText('objection', item.objectionType) }}</td>
            <td>{{ item.financialYear }}</td>
            <td class="text-end">{{ toLocal(item.value) }}</td>
            <td>
              <span class="yellow text-center" *ngIf="item.objectionStatus === 1">
                {{ getObjectionStatusText(item) }}
              </span>
              <span class="blue text-center rounded-border" *ngIf="item.objectionStatus === 2">
                {{ getObjectionStatusText(item) }}
              </span>
              <span class="red text-center" *ngIf="item.objectionStatus === 3 || item.objectionStatus === 7 || item.objectionStatus === 8">
                {{ getObjectionStatusText(item) }}
              </span>
              <span class="purple text-center" *ngIf="item.objectionStatus === 4">
                {{ getObjectionStatusText(item) }}
              </span>
              <ng-container *ngIf="item.objectionStatus === 5">
                <span class="green text-center">
                  {{ getObjectionStatusText(item) }}
                </span>
                <br>
                <p class="otherText">
                  {{ convertDateToBengali(item.memoDate) }}
                </p>
              </ng-container>
              <span *ngIf="item.objectionStatus === 6">
                <p class="otherText">
                  {{ getObjectionStatusText(item) }}
                </p>
              </span>
            </td> -->
            <td>
              <a
                title="বিস্তারিত"
                class="btn btn-sm btn-icon btn-flex btn-light btn-active-primary fw-bolder cursor-pointer"
                data-kt-menu-trigger="click"
                data-kt-menu-placement="bottom-end"
                data-kt-menu-flip="top-end"
                (click)="view(item.id)"
              >
                <i class="fas fa-info"></i>
              </a>
              |
              <a
                title="এডিট"
                class="btn btn-sm btn-icon btn-flex btn-light btn-active-primary fw-bolder cursor-pointer"
                data-kt-menu-trigger="click"
                data-kt-menu-placement="bottom-end"
                data-kt-menu-flip="top-end"
                (click)="edit(item.id)"
              >
                <i class="fas fa-edit"></i>
              </a>
              <!-- |
              <a
                title="চিঠি"
                class="btn btn-sm btn-icon btn-flex btn-light btn-active-primary fw-bolder cursor-pointer"
                data-kt-menu-trigger="click"
                data-kt-menu-placement="bottom-end"
                data-kt-menu-flip="top-end"
                (click)="responses(item.id)"
              >
              <i class="fas fa-file-pdf"></i>
              <i class="far fa-file-pdf"></i>
              </a> -->
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="card-body">
      <!-- <ng-container *ngIf="!objections?.length">
        <app-data-loading-empty></app-data-loading-empty>
      </ng-container> -->
    </div>

  </div>

  <div class="card-footer">

    <!-- <app-pagination
      [collectionSize]="totalCount"
      [pageSize]="filterModel.pageSize"
      [page]="filterModel.pageNo"
      (pageChange)="pageChanged($event)"
      (pageSizeChange)="pageSizeChanged($event)"
    >
    </app-pagination> -->

  </div>

</div>
