/*Schedule width*/
.w-0 {
  width: 0% !important;
}
.w-1 {
  width: 1% !important;
}
.w-2 {
  width: 2% !important;
}
.w-3 {
  width: 3% !important;
}
.w-4 {
  width: 4% !important;
}
.w-5 {
  width: 5% !important;
}
.w-10 {
  width: 10% !important;
}
.w-15 {
  width: 15% !important;
}
.w-20 {
  width: 20% !important;
}
.w-25 {
  width: 25% !important;
}
.w-30 {
  width: 30% !important;
}
.w-35 {
  width: 35% !important;
}
.w-40 {
  width: 40% !important;
}
.w-45 {
  width: 45% !important;
}
.w-50 {
  width: 50% !important;
}
.w-55 {
  width: 55% !important;
}
.w-60 {
  width: 60% !important;
}
.w-65 {
  width: 65% !important;
}
.w-70 {
  width: 70% !important;
}
.w-75 {
  width: 75% !important;
}
.w-80 {
  width: 80% !important;
}
.w-85 {
  width: 85% !important;
}
.w-90 {
  width: 90% !important;
}
.w-95 {
  width: 95% !important;
}
.w-100 {
  width: 100% !important;
}

.sw-1 {
  width: 1px !important;
}
.sw-5 {
  width: 5px !important;
}
.sw-10 {
  width: 10px !important;
}
.sw-15 {
  width: 15px !important;
}
.sw-20 {
  width: 20px !important;
}
.sw-25 {
  width: 25px !important;
}
.sw-30 {
  width: 30px !important;
}
.sw-35 {
  width: 35px !important;
}
.sw-40 {
  width: 40px !important;
}
.sw-45 {
  width: 45px !important;
}
.sw-50 {
  width: 50px !important;
}
.sw-55 {
  width: 55px !important;
}
.sw-60 {
  width: 60px !important;
}
.sw-65 {
  width: 65px !important;
}
.sw-70 {
  width: 70px !important;
}
.sw-75 {
  width: 75px !important;
}
.sw-80 {
  width: 80px !important;
}
.sw-85 {
  width: 85px !important;
}
.sw-90 {
  width: 90px !important;
}
.sw-95 {
  width: 95px !important;
}
.sw-100 {
  width: 100px !important;
}
.sw-105 {
  width: 105px !important;
}
.sw-110 {
  width: 110px !important;
}
.sw-115 {
  width: 115px !important;
}
.sw-120 {
  width: 120px !important;
}
.sw-125 {
  width: 125px !important;
}
.sw-130 {
  width: 130px !important;
}

.sw-135 {
  width: 135px !important;
}
.sw-140 {
  width: 140px !important;
}
.sw-145 {
  width: 145px !important;
}
.sw-150 {
  width: 150px !important;
}
.sw-155 {
  width: 155px !important;
}
.sw-160 {
  width: 160px !important;
}
.sw-165 {
  width: 165px !important;
}
.sw-170 {
  width: 170px !important;
}
.sw-175 {
  width: 175px !important;
}
.sw-180 {
  width: 180px !important;
}
.sw-185 {
  width: 185px !important;
}
.sw-190 {
  width: 190px !important;
}
.sw-195 {
  width: 195px !important;
}
.sw-200 {
  width: 200px !important;
}
.sw-205 {
  width: 205px !important;
}
.sw-210 {
  width: 210px !important;
}
.sw-215 {
  width: 215px !important;
}
.sw-220 {
  width: 220px !important;
}
.sw-225 {
  width: 225px !important;
}
.sw-230 {
  width: 230px !important;
}
.sw-235 {
  width: 235px !important;
}
.sw-240 {
  width: 240px !important;
}
.sw-245 {
  width: 245px !important;
}
.sw-250 {
  width: 250px !important;
}
.sw-255 {
  width: 255px !important;
}
.sw-260 {
  width: 260px !important;
}
.sw-265 {
  width: 265px !important;
}
.sw-270 {
  width: 270px !important;
}
.sw-275 {
  width: 275px !important;
}
.sw-285 {
  width: 285px !important;
}
.sw-300 {
  width: 300px !important;
}
.sw-325 {
  width: 325px !important;
}
.sw-350 {
  width: 350px !important;
}
.sw-345 {
  width: 345px !important;
}
.sw-375 {
  width: 375px !important;
}
.sw-385 {
  width: 385px !important;
}
.sw-400 {
  width: 400px !important;
}
.sw-500 {
  width: 500px !important;
}
.sw-600 {
  width: 600px !important;
}
.sw-700 {
  width: 700px !important;
}
.sw-800 {
  width: 800px !important;
}
.sw-900 {
  width: 900px !important;
}
.sw-1000 {
  width: 1000px !important;
}
.sw-1100 {
  width: 1100px !important;
}
.sw-1275 {
  width: 1275px;
}

/*schedule width min*/
.sw-min-1 {
  min-width: 1px !important;
}
.sw-min-5 {
  min-width: 5px !important;
}
.sw-min-10 {
  min-width: 10px !important;
}
.sw-min-15 {
  min-width: 15px !important;
}
.sw-min-20 {
  min-width: 20px !important;
}
.sw-min-25 {
  min-width: 25px !important;
}
.sw-min-30 {
  min-width: 30px !important;
}
.sw-min-35 {
  min-width: 35px !important;
}
.sw-min-40 {
  min-width: 40px !important;
}
.sw-min-45 {
  min-width: 45px !important;
}
.sw-min-50 {
  min-width: 50px !important;
}
.sw-min-55 {
  min-width: 55px !important;
}
.sw-min-60 {
  min-width: 60px !important;
}
.sw-min-65 {
  min-width: 65px !important;
}
.sw-min-70 {
  min-width: 70px !important;
}
.sw-min-75 {
  min-width: 75px !important;
}
.sw-min-80 {
  min-width: 80px !important;
}
.sw-min-85 {
  min-width: 85px !important;
}
.sw-min-90 {
  min-width: 90px !important;
}
.sw-min-95 {
  min-width: 95px !important;
}
.sw-min-100 {
  min-width: 100px !important;
}
.sw-min-105 {
  min-width: 105px !important;
}
.sw-min-110 {
  min-width: 110px !important;
}
.sw-min-115 {
  min-width: 115px !important;
}
.sw-min-120 {
  min-width: 120px !important;
}
.sw-min-125 {
  min-width: 125px !important;
}
.sw-min-130 {
  min-width: 130px !important;
}

.sw-min-135 {
  min-width: 135px !important;
}
.sw-min-140 {
  min-width: 140px !important;
}
.sw-min-145 {
  min-width: 145px !important;
}
.sw-min-150 {
  min-width: 150px !important;
}
.sw-min-155 {
  min-width: 155px !important;
}
.sw-min-160 {
  min-width: 160px !important;
}
.sw-min-165 {
  min-width: 165px !important;
}
.sw-min-170 {
  min-width: 170px !important;
}
.sw-min-175 {
  min-width: 175px !important;
}
.sw-min-180 {
  min-width: 180px !important;
}
.sw-min-185 {
  min-width: 185px !important;
}
.sw-min-190 {
  min-width: 190px !important;
}
.sw-min-195 {
  min-width: 195px !important;
}
.sw-min-200 {
  min-width: 200px !important;
}
.sw-min-205 {
  min-width: 205px !important;
}
.sw-min-210 {
  min-width: 210px !important;
}
.sw-min-215 {
  min-width: 215px !important;
}
.sw-min-220 {
  min-width: 220px !important;
}
.sw-min-225 {
  min-width: 225px !important;
}
.sw-min-230 {
  min-width: 230px !important;
}
.sw-min-235 {
  min-width: 235px !important;
}
.sw-min-240 {
  min-width: 240px !important;
}
.sw-min-245 {
  min-width: 245px !important;
}
.sw-min-250 {
  min-width: 250px !important;
}
.sw-min-255 {
  min-width: 255px !important;
}
.sw-min-260 {
  min-width: 260px !important;
}
.sw-min-265 {
  min-width: 265px !important;
}
.sw-min-270 {
  min-width: 270px !important;
}
.sw-min-275 {
  min-width: 275px !important;
}

/*Schedule width max*/
.sw-max-1 {
  max-width: 1px !important;
}
.sw-max-5 {
  max-width: 5px !important;
}
.sw-max-10 {
  max-width: 10px !important;
}
.sw-max-15 {
  max-width: 15px !important;
}
.sw-max-20 {
  max-width: 20px !important;
}
.sw-max-25 {
  max-width: 25px !important;
}
.sw-max-30 {
  max-width: 30px !important;
}
.sw-max-35 {
  max-width: 35px !important;
}
.sw-max-40 {
  max-width: 40px !important;
}
.sw-max-45 {
  max-width: 45px !important;
}
.sw-max-50 {
  max-width: 50px !important;
}
.sw-max-55 {
  max-width: 55px !important;
}
.sw-max-60 {
  max-width: 60px !important;
}
.sw-max-65 {
  max-width: 65px !important;
}
.sw-max-70 {
  max-width: 70px !important;
}
.sw-max-75 {
  max-width: 75px !important;
}
.sw-max-80 {
  max-width: 80px !important;
}
.sw-max-85 {
  max-width: 85px !important;
}
.sw-max-90 {
  max-width: 90px !important;
}
.sw-max-95 {
  max-width: 95px !important;
}
.sw-max-100 {
  max-width: 100px !important;
}
.sw-max-105 {
  max-width: 105px !important;
}
.sw-max-110 {
  max-width: 110px !important;
}
.sw-max-115 {
  max-width: 115px !important;
}
.sw-max-120 {
  max-width: 120px !important;
}
.sw-max-125 {
  max-width: 125px !important;
}
.sw-max-130 {
  max-width: 130px !important;
}

.sw-max-135 {
  max-width: 135px !important;
}
.sw-max-140 {
  max-width: 140px !important;
}
.sw-max-145 {
  max-width: 145px !important;
}
.sw-max-150 {
  max-width: 150px !important;
}
.sw-max-155 {
  max-width: 155px !important;
}
.sw-max-160 {
  max-width: 160px !important;
}
.sw-max-165 {
  max-width: 165px !important;
}
.sw-max-170 {
  max-width: 170px !important;
}
.sw-max-175 {
  max-width: 175px !important;
}
.sw-max-180 {
  max-width: 180px !important;
}
.sw-max-185 {
  max-width: 185px !important;
}
.sw-max-190 {
  max-width: 190px !important;
}
.sw-max-195 {
  max-width: 195px !important;
}
.sw-max-200 {
  max-width: 200px !important;
}
.sw-max-205 {
  max-width: 205px !important;
}
.sw-max-210 {
  max-width: 210px !important;
}
.sw-max-215 {
  max-width: 215px !important;
}
.sw-max-220 {
  max-width: 220px !important;
}
.sw-max-225 {
  max-width: 225px !important;
}
.sw-max-230 {
  max-width: 230px !important;
}
.sw-max-235 {
  max-width: 235px !important;
}
.sw-max-240 {
  max-width: 240px !important;
}
.sw-max-245 {
  max-width: 245px !important;
}
.sw-max-250 {
  max-width: 250px !important;
}
.sw-max-255 {
  max-width: 255px !important;
}
.sw-max-260 {
  max-width: 260px !important;
}
.sw-max-265 {
  max-width: 265px !important;
}
.sw-max-270 {
  max-width: 270px !important;
}
.sw-max-275 {
  max-width: 275px !important;
}


/*Schedule height*/
.sh-1 {
  height: 1px !important;
}
.sh-5 {
  height: 5px !important;
}
.sh-10 {
  height: 10px !important;
}
.sh-15 {
  height: 15px !important;
}
.sh-20 {
  height: 20px !important;
}
.sh-25 {
  height: 25px !important;
}
.sh-30 {
  height: 30px !important;
}
.sh-35 {
  height: 35px !important;
}
.sh-40 {
  height: 40px !important;
}
.sh-45 {
  height: 45px !important;
}
.sh-50 {
  height: 50px !important;
}
.sh-55 {
  height: 55px !important;
}
.sh-60 {
  height: 60px !important;
}
.sh-65 {
  height: 65px !important;
}
.sh-70 {
  height: 70px !important;
}
.sh-75 {
  height: 75px !important;
}
.sh-80 {
  height: 80px !important;
}
.sh-85 {
  height: 85px !important;
}
.sh-90 {
  height: 90px !important;
}
.sh-95 {
  height: 95px !important;
}
.sh-100 {
  height: 100px !important;
}
.sh-105 {
  height: 105px !important;
}
.sh-110 {
  height: 110px !important;
}
.sh-115 {
  height: 115px !important;
}
.sh-120 {
  height: 120px !important;
}
.sh-125 {
  height: 125px !important;
}
.sh-130 {
  height: 130px !important;
}

.sh-135 {
  height: 135px !important;
}
.sh-140 {
  height: 140px !important;
}
.sh-145 {
  height: 145px !important;
}
.sh-150 {
  height: 150px !important;
}
.sh-155 {
  height: 155px !important;
}
.sh-160 {
  height: 160px !important;
}
.sh-165 {
  height: 165px !important;
}
.sh-170 {
  height: 170px !important;
}
.sh-175 {
  height: 175px !important;
}
.sh-180 {
  height: 180px !important;
}
.sh-185 {
  height: 185px !important;
}
.sh-190 {
  height: 190px !important;
}
.sh-195 {
  height: 195px !important;
}
.sh-200 {
  height: 200px !important;
}
.sh-205 {
  height: 205px !important;
}
.sh-210 {
  height: 210px !important;
}
.sh-215 {
  height: 215px !important;
}
.sh-220 {
  height: 220px !important;
}
.sh-225 {
  height: 225px !important;
}
.sh-230 {
  height: 230px !important;
}
.sh-235 {
  height: 235px !important;
}
.sh-240 {
  height: 240px !important;
}
.sh-245 {
  height: 245px !important;
}
.sh-250 {
  height: 250px !important;
}
.sh-255 {
  height: 255px !important;
}
.sh-260 {
  height: 260px !important;
}
.sh-265 {
  height: 265px !important;
}
.sh-270 {
  height: 270px !important;
}
.sh-275 {
  height: 275px !important;
}

/*Schedule min height*/
.sh-min-1 {
  min-height: 1px !important;
}
.sh-min-5 {
  min-height: 5px !important;
}
.sh-min-10 {
  min-height: 10px !important;
}
.sh-min-15 {
  min-height: 15px !important;
}
.sh-min-20 {
  min-height: 20px !important;
}
.sh-min-25 {
  min-height: 25px !important;
}
.sh-min-30 {
  min-height: 30px !important;
}
.sh-min-35 {
  min-height: 35px !important;
}
.sh-min-40 {
  min-height: 40px !important;
}
.sh-min-45 {
  min-height: 45px !important;
}
.sh-min-50 {
  min-height: 50px !important;
}
.sh-min-55 {
  min-height: 55px !important;
}
.sh-min-60 {
  min-height: 60px !important;
}
.sh-min-65 {
  min-height: 65px !important;
}
.sh-min-70 {
  min-height: 70px !important;
}
.sh-min-75 {
  min-height: 75px !important;
}
.sh-min-80 {
  min-height: 80px !important;
}
.sh-min-85 {
  min-height: 85px !important;
}
.sh-min-90 {
  min-height: 90px !important;
}
.sh-min-95 {
  min-height: 95px !important;
}
.sh-min-100 {
  min-height: 100px !important;
}
.sh-min-105 {
  min-height: 105px !important;
}
.sh-min-110 {
  min-height: 110px !important;
}
.sh-min-115 {
  min-height: 115px !important;
}
.sh-min-120 {
  min-height: 120px !important;
}
.sh-min-125 {
  min-height: 125px !important;
}
.sh-min-130 {
  min-height: 130px !important;
}

.sh-min-135 {
  min-height: 135px !important;
}
.sh-min-140 {
  min-height: 140px !important;
}
.sh-min-145 {
  min-height: 145px !important;
}
.sh-min-150 {
  min-height: 150px !important;
}
.sh-min-155 {
  min-height: 155px !important;
}
.sh-min-160 {
  min-height: 160px !important;
}
.sh-min-165 {
  min-height: 165px !important;
}
.sh-min-170 {
  min-height: 170px !important;
}
.sh-min-175 {
  min-height: 175px !important;
}
.sh-min-180 {
  min-height: 180px !important;
}
.sh-min-185 {
  min-height: 185px !important;
}
.sh-min-190 {
  min-height: 190px !important;
}
.sh-min-195 {
  min-height: 195px !important;
}
.sh-min-200 {
  min-height: 200px !important;
}
.sh-min-205 {
  min-height: 205px !important;
}
.sh-min-210 {
  min-height: 210px !important;
}
.sh-min-215 {
  min-height: 215px !important;
}
.sh-min-220 {
  min-height: 220px !important;
}
.sh-min-225 {
  min-height: 225px !important;
}
.sh-min-230 {
  min-height: 230px !important;
}
.sh-min-235 {
  min-height: 235px !important;
}
.sh-min-240 {
  min-height: 240px !important;
}
.sh-min-245 {
  min-height: 245px !important;
}
.sh-min-250 {
  min-height: 250px !important;
}
.sh-min-255 {
  min-height: 255px !important;
}
.sh-min-260 {
  min-height: 260px !important;
}
.sh-min-265 {
  min-height: 265px !important;
}
.sh-min-270 {
  min-height: 270px !important;
}
.sh-min-275 {
  min-height: 275px !important;
}

/*Schedule height max*/
.sh-max-1 {
  max-height: 1px !important;
}
.sh-max-5 {
  max-height: 5px !important;
}
.sh-max-10 {
  max-height: 10px !important;
}
.sh-max-15 {
  max-height: 15px !important;
}
.sh-max-20 {
  max-height: 20px !important;
}
.sh-max-25 {
  max-height: 25px !important;
}
.sh-max-30 {
  max-height: 30px !important;
}
.sh-max-35 {
  max-height: 35px !important;
}
.sh-max-40 {
  max-height: 40px !important;
}
.sh-max-45 {
  max-height: 45px !important;
}
.sh-max-50 {
  max-height: 50px !important;
}
.sh-max-55 {
  max-height: 55px !important;
}
.sh-max-60 {
  max-height: 60px !important;
}
.sh-max-65 {
  max-height: 65px !important;
}
.sh-max-70 {
  max-height: 70px !important;
}
.sh-max-75 {
  max-height: 75px !important;
}
.sh-max-80 {
  max-height: 80px !important;
}
.sh-max-85 {
  max-height: 85px !important;
}
.sh-max-90 {
  max-height: 90px !important;
}
.sh-max-95 {
  max-height: 95px !important;
}
.sh-max-100 {
  max-height: 100px !important;
}
.sh-max-105 {
  max-height: 105px !important;
}
.sh-max-110 {
  max-height: 110px !important;
}
.sh-max-115 {
  max-height: 115px !important;
}
.sh-max-120 {
  max-height: 120px !important;
}
.sh-max-125 {
  max-height: 125px !important;
}
.sh-max-130 {
  max-height: 130px !important;
}

.sh-max-135 {
  max-height: 135px !important;
}
.sh-max-140 {
  max-height: 140px !important;
}
.sh-max-145 {
  max-height: 145px !important;
}
.sh-max-150 {
  max-height: 150px !important;
}
.sh-max-155 {
  max-height: 155px !important;
}
.sh-max-160 {
  max-height: 160px !important;
}
.sh-max-165 {
  max-height: 165px !important;
}
.sh-max-170 {
  max-height: 170px !important;
}
.sh-max-175 {
  max-height: 175px !important;
}
.sh-max-180 {
  max-height: 180px !important;
}
.sh-max-185 {
  max-height: 185px !important;
}
.sh-max-190 {
  max-height: 190px !important;
}
.sh-max-195 {
  max-height: 195px !important;
}
.sh-max-200 {
  max-height: 200px !important;
}
.sh-max-205 {
  max-height: 205px !important;
}
.sh-max-210 {
  max-height: 210px !important;
}
.sh-max-215 {
  max-height: 215px !important;
}
.sh-max-220 {
  max-height: 220px !important;
}
.sh-max-225 {
  max-height: 225px !important;
}
.sh-max-230 {
  max-height: 230px !important;
}
.sh-max-235 {
  max-height: 235px !important;
}
.sh-max-240 {
  max-height: 240px !important;
}
.sh-max-245 {
  max-height: 245px !important;
}
.sh-max-250 {
  max-height: 250px !important;
}
.sh-max-255 {
  max-height: 255px !important;
}
.sh-max-260 {
  max-height: 260px !important;
}
.sh-max-265 {
  max-height: 265px !important;
}
.sh-max-270 {
  max-height: 270px !important;
}
.sh-max-275 {
  max-height: 275px !important;
}

